@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 95px;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.left-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.nav-item {
  margin: 0 30px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.categories {
  color: #aaa;
}

.user_icon {
  width: 45px;
  height: 45px;
}

.title {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #0290ff;
  font-weight: bold;
  font-size: 30px;
}
